<br><br><br><br>
<div class="container" tyle="padding: 10%">
  <h2>Gestion de Empleados</h2>
  <mat-accordion>
    <mat-expansion-panel [(expanded)]="visible" (closed)="limpiarForm()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{cambiarNombre ? 'Editar' : 'Crear' }} Empleado
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      <div class="container" style="padding: 10%" id="formulario">
        
          <h2>Crear Empleado</h2>

          <form [formGroup]="empleadoForm" (ngSubmit)="guardar()">
            <div class="form-group" style="margin: 2%">
              <label> Primer Nombre </label>
              <input type="text" formControlName="primerNombre" class="form-control">
            </div>

            <div class="form-group" style="margin: 2%">
              <label> Primer Apellido </label>
              <input type="text" formControlName="primerApellido" class="form-control">
            </div>

            <div class="form-group" style="margin: 2%">
              <label> Otro nombre</label>
              <input type="text" formControlName="otroNombre" class="form-control">
            </div>

            <div class="form-group" style="margin: 2%">
              <label for="inputState" class="form-label">Seleciones un Titular</label>
              <select id="inputState" class="form-select" formControlName="pais" (change)="cambiarTitular($event)">
                <option selected>Selecione una...</option>
                <option [value]="item.id" *ngFor="let item of listaPaises">
                  {{item.nombrePais}}
                </option>
              </select>
            </div>
            <div class="form-group" style="margin: 2%">
              <label> Correo Electronico</label>
              <input type="text" formControlName="email"  class="form-control" [placeholder]="emailForm" [disabled]="true">
            </div>

            <br>
          
              <button type="submit" class="btn btn-primary" [disabled]="empleadoForm.invalid">Guardar Empleado </button>
           
            
          </form>
        
      </div>
    </mat-expansion-panel>
  </mat-accordion>


<br><br><br>

  <div class="container" tyle="padding: 10%">

    <table class="table table-hover" tyle="padding: 10%">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Segundo nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Pais de Empleo</th>
          <th scope="col">E-Mail</th>
          <th scope="col">acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of listaEmpleados | slice: desde:hasta" >
          <td>{{empleado.primerNombre}} </td>
          <td>{{empleado.otroNombre}}</td>
          <td>{{empleado.primerApellido}}</td>
          <td>{{empleado.paisEmpleo}}</td>
          <td>{{empleado.correo}}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="eliminar(empleado)">Eliminar</button>
            <button type="button" class="btn btn-warning" (click)="editar(empleado)"
              style="margin-left: 2%">Editar</button>

          </td>
        </tr>
    </table>
    <mat-paginator [length]=" listaEmpleados.length"
              [pageSize]="10"
              (page)="cambiarPagina($event)"
              aria-label="Select page">
</mat-paginator>
  </div>
</div>


<router-outlet></router-outlet>